{% extends 'base.html' %}
{% load static %}
{% block body_class %}no-aside{% endblock %}

{% block title %}Bienvenido{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock %}

{% block content %}
  <div class="w-100 layout-content-bienvenida">
    <div class="text-center mx-auto bienvenida-box">
      <h1 class="display-4 fw-bold text-primary mb-4">Bienvenido al Sistema Escolar</h1>
      <p class="lead text-secondary mb-4">Por favor, inicia sesión para acceder al sistema.</p>
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-5">Iniciar sesión</a>
    </div>
  </div>
{% endblock %}
