.requisitos-password {
  display: none;
}
.requisitos-password.activo {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  min-height: 100vh;
  overflow: hidden;
}
body.no-aside .layout-content {
  left: 0 !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.layout-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  height: 64px;
  background-color: #171a4a;
  box-shadow: 0 1px 8px rgba(0,0,0,0.04);
  display: flex;
  align-items: center;
}
.layout-aside {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 48px;
  width: 240px;
  background: #3a3a3a !important;
  background-color: #3a3a3a !important;
  box-shadow: 1px 0 8px rgba(0,0,0,0.3);
  z-index: 1030;
  padding-top: 1.5rem;
  overflow-y: auto;
}
.layout-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  background: #2a2a2a !important;
  background-color: #2a2a2a !important;
  border-top: 1px solid #444444;
  z-index: 1040;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.92rem;
  color: #cccccc;
  box-shadow: 0 -1px 6px 0 rgba(0,0,0,0.2);
}
.layout-content {
  position: absolute;
  left: 240px;
  right: 0;
  top: 64px;
  bottom: 48px;
  overflow-y: auto;
  padding: 2rem 2rem 1.5rem 2rem;
  background-image: url('../img/SALON_DE_CLASES.png'); /* Ruta relativa a la imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .layout-aside {
    width: 65px;
    padding-top: 0.5rem;
  }
  .layout-content {
    left: 65px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
